<div class="main-head">
    <span class="line"></span>
    <div class="menu">
        <ul>
            <li class="current">
                <a href="#">Friends<span></span></a>
            </li>
            <li>
                <a href="#">Most Approved<span></span></a>
            </li>
            <li>
                <a href="#">Most Debated<span></span></a>
            </li>
            <li>
                <a href="#">New<span></span></a>
            </li>
            <li>
                <a href="#">Celeb<span></span></a>
            </li>
        </ul>
    </div>
    <!-- menu -->
    <div class="search">
        <div class="input-wrap">
            <input type="text" value="" placeholder="Search..." name="" />
            <input type="submit" value="" name="" />
        </div>
    </div>
    <!-- search -->
    <div class="social">
        <ul>
            <li><a href="#" title=""><i class="imed imed-fb"></i></a></li>
            <li><a href="#" title=""><i class="imed imed-tw"></i></a></li>
            <li><a href="#" title=""><i class="imed imed-gg"></i></a></li>
            <li><a href="#" title=""><i class="imed imed-pin"></i></a></li>
            <li><a href="#" title=""><i class="imed imed-rss"></i></a></li>
        </ul>
    </div>
    <!-- social buttons -->
</div>