{% extends 'MYSiteBundle::layout.html.twig' %}
{% set wrapper_style_class = 'detail' %}
{% set main_wrapper_style_class = 'page-profile-topics' %}

{% block page_content %}
    <!-- main head -->
    <div class="profile-info">
        <div class="avatar">
            <a href="#">
                <img src="../assets/demo/img-avatar-004.jpg" alt="" border=""/>
                <span class="name">Jenny</span>
            </a>
        </div>
        <div class="profile-info-detail">
            <div class="info-name">
                <h3>Jenny</h3>
                <p class="job">Composer</p>
                <p class="des">“Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut vodit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.“</p>
            </div>
            <!-- Name & Title & Description -->
            <div class="info-point">
                <span class="point-icon"><i class="imed imed-diamond"></i></span>
                <span class="point">221.254.896 G$ earned</span>
            </div>
            <!-- Points -->
            <div class="info-nav">
                <ul>
                    <li><a href="#" class="" title="" ><i class="imed imed-message"></i></a></li>
                    <li><a href="#" class="" title="" ><i class="imed imed-friend"></i></a></li>
                    <li><a href="#" class="" title="" ><i class="imed imed-fighting"></i></a></li>
                    <li><a href="#" class="" title="" ><i class="imed imed-setting"></i></a></li>
                </ul>
            </div>
            <!-- Profile nav -->
            <div class="info-stat">
                <ul>
                    <li><a href="#" class="" title="" ><i class="imed imed-friend-red"></i><span class="text">187 Mutual friends</span></a></li>
                    <li><a href="#" class="" title="" ><i class="imed imed-idea"></i><span class="text">1000 Ideas</span></a></li>
                    <li><a href="#" class="" title="" ><i class="imed imed-flag-red"></i><span class="text">1000 Follwer</span></a></li>
                    <li><a href="#" class="" title="" ><i class="imed imed-coffee"></i><span class="text">189 Topics</span></a></li>
                </ul>
            </div>
            <!-- profile stats -->
        </div>
        <!-- profile info detail -->
    </div>
    <!-- Profile Info -->
    <div class="filter">
        <div class="line"></div>
        <div class="menu">
            <ul>
                <li class="current">
                    <a href="#">Topics<span></span></a>
                </li>
                <li>
                    <a href="#">Ideas<span></span></a>
                </li>
                <li>
                    <a href="#">Ama<span></span></a>
                </li>
            </ul>
        </div>
        <div class="sub-menu">
            <ul>
                <li class="current">
                    <a href="javascript:void(0)" rel=".post"><i class="imed imed-pencil-gray"></i><span class="text">Write TOPICS</span></a>
                </li>
                <li><span class="sep"></span></li>
                <li>
                    <a href="javascript:void(0)" rel=".tags-filter"><i class="imed imed-tags"></i><span class="text">Tags filter</span></a>
                </li>
                <li><span class="sep"></span></li>
                <li>
                    <a href="javascript:void(0)"><span class="text">Most popular</span></a>
                </li>
                <li><span class="sep"></span></li>
                <li>
                    <a href="javascript:void(0)"><span class="text">Most ideas</span></a>
                </li>
                <li><span class="sep"></span></li>
                <li>
                    <a href="javascript:void(0)"><span class="text">View all</span></a>
                </li>
            </ul>
        </div>
    </div>
    <!-- topics filter -->
    <div class="ulti clearfix">
        <div class="filter-block tags-filter clearfix">
            <div class="line"></div>
            <ul>
                <li>
                    <a href="#" class="text"><span class="prefix">#</span>Quia consequuntur magni dolore</a>
                    <a href="#" class="btn-del"><i class="ismall ismall-delx"></i></a>
                </li>
                <li>
                    <a href="#" class="text"><span class="prefix">#</span>Quia consequuntur dolore</a>
                    <a href="#" class="btn-del"><i class="ismall ismall-delx"></i></a>
                </li>
                <li>
                    <a href="#" class="text"><span class="prefix">#</span>magni</a>
                    <a href="#" class="btn-del"><i class="ismall ismall-delx"></i></a>
                </li>
                <li>
                    <a href="#" class="text"><span class="prefix">#</span>magni dolore</a>
                    <a href="#" class="btn-del"><i class="ismall ismall-delx"></i></a>
                </li>
                <li>
                    <a href="#" class="text"><span class="prefix">#</span>Quia consequuntur magni dolore</a>
                    <a href="#" class="btn-del"><i class="ismall ismall-delx"></i></a>
                </li>
                <li>
                    <a href="#" class="text"><span class="prefix">#</span>Quia consequuntur dolore</a>
                    <a href="#" class="btn-del"><i class="ismall ismall-delx"></i></a>
                </li>
                <li>
                    <a href="#" class="text"><span class="prefix">#</span>magni</a>
                    <a href="#" class="btn-del"><i class="ismall ismall-delx"></i></a>
                </li>
                <li>
                    <a href="#" class="text"><span class="prefix">#</span>magni dolore</a>
                    <a href="#" class="btn-del"><i class="ismall ismall-delx"></i></a>
                </li>
            </ul>
        </div>
        <!-- Tags filter -->
        <div class="filter-block post active-tags active">
            <div class="post-title">
                <input type="text" value="Your Title Here"/>
            </div>
            <div class="post-text">
                <div class="post-tab post-tags active"><textarea rows="5"></textarea></div>
                <!-- post tags -->
                <div class="post-tab post-photo">
                    <div class="buttons">
                        <a href="#" class="big-button big-gray">Choose from Computer</a>
                        <a href="#" class="big-button big-gray">Cancel</a>
                    </div>
                    <p>You can select more than one file at a time. You can also drag and drop files anywhere on this page to start uploading</p>
                </div>
                <!-- post photos -->
            </div>
            <div class="post-alt">
                <div class="tags">
                    <label>Tags</label>
                    <ul>
                        <li>123123</li>
                        <li>321</li>
                        <li>456</li>
                        <li>654</li>
                    </ul>
                </div>
            </div>
            <div class="post-foot">
                <ul>
                    <li class="current">
                        <a href="#" title="" rel="tags">
                            <i class="imed imed-tag"></i>
                            <span class="left"></span>
                            <span class="right"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#" title="" rel="photo">
                            <i class="imed imed-photo"></i>
                            <span class="left"></span>
                            <span class="right"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#" title="">
                            <i class="imed imed-mic"></i>
                            <span class="left"></span>
                            <span class="right"></span>
                        </a>
                    </li>
                </ul>
                <div class="buttons">
                    <a href="#" class="big-button btn-post">Post</a>
                </div>
            </div>
        </div>
        <!-- post -->
    </div>
    <!-- Common Stuffs -->
    <div class="content clearfix">
        <div class="col-full">
            <div class="profile-topic-wrap">
                <div class="topic-preview">
                    <div class="topics">
                        <div class="cont">
                            <div class="topic-bg">
                                <a href="#" title=""><img src="../assets/demo/img-topic-001.jpg" alt="" border=""></a>
                                <a href="#" title="" class="title">
                                    <span>modi temporat ut labore et dolore magn</span>
                                </a>
                                <a href="#" class="btn-del"><i class="ismall ismall-del-white"></i></a>
                            </div>
                        </div>
                        <div class="buttons">
                            <ul>
                                <li><a href="#" class="big-button"><i class="imed imed-flag"></i><span class="text">Follow</span></a></li>
                                <li><a href="#" class="big-button"><i class="imed imed-pencil"></i><span class="text">Write Ideas</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- topic with image background -->
                <div class="topic-preview">
                    <div class="topics">
                        <div class="cont">
                            <div class="topic-nobg">
                                <h2 href="#" title="" class="title">
                                    <span>modi temporat ut labore et dolore magn</span>
                                </h2>
                                <p class="des">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi</p>
                                <a href="#" class="btn-more">Read more ...</a>
                                <a href="#" class="btn-del"><i class="ismall ismall-del-white"></i></a>
                            </div>
                        </div>
                        <div class="buttons">
                            <ul>
                                <li><a href="#" class="big-button"><i class="imed imed-flag"></i><span class="text">Follow</span></a></li>
                                <li><a href="#" class="big-button"><i class="imed imed-pencil"></i><span class="text">Write Ideas</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- topic without image background -->
                <div class="topic-preview">
                    <div class="topics">
                        <div class="cont">
                            <div class="topic-nobg">
                                <h2 href="#" title="" class="title">
                                    <span>modi temporat ut labore et dolore magn</span>
                                </h2>
                                <p class="des">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi</p>
                                <a href="#" class="btn-more">Read more ...</a>
                                <a href="#" class="btn-del"><i class="ismall ismall-del-white"></i></a>
                            </div>
                        </div>
                        <div class="buttons">
                            <ul>
                                <li><a href="#" class="big-button"><i class="imed imed-flag"></i><span class="text">Follow</span></a></li>
                                <li><a href="#" class="big-button"><i class="imed imed-pencil"></i><span class="text">Write Ideas</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- topic without image background -->
                <div class="topic-preview">
                    <div class="topics">
                        <div class="cont">
                            <div class="topic-bg">
                                <a href="#" title=""><img src="../assets/demo/img-topic-001.jpg" alt="" border=""></a>
                                <a href="#" title="" class="title">
                                    <span>modi temporat ut labore et dolore magn</span>
                                </a>
                                <a href="#" class="btn-del"><i class="ismall ismall-del-white"></i></a>
                            </div>
                        </div>
                        <div class="buttons">
                            <ul>
                                <li><a href="#" class="big-button"><i class="imed imed-flag"></i><span class="text">Follow</span></a></li>
                                <li><a href="#" class="big-button"><i class="imed imed-pencil"></i><span class="text">Write Ideas</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- topic with image background -->
                <div class="topic-preview">
                    <div class="topics">
                        <div class="cont">
                            <div class="topic-nobg">
                                <h2 href="#" title="" class="title">
                                    <span>modi temporat ut labore et dolore magn</span>
                                </h2>
                                <p class="des">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi</p>
                                <a href="#" class="btn-more">Read more ...</a>
                                <a href="#" class="btn-del"><i class="ismall ismall-del-white"></i></a>
                            </div>
                        </div>
                        <div class="buttons">
                            <ul>
                                <li><a href="#" class="big-button"><i class="imed imed-flag"></i><span class="text">Follow</span></a></li>
                                <li><a href="#" class="big-button"><i class="imed imed-pencil"></i><span class="text">Write Ideas</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- topic without image background -->
                <div class="topic-preview">
                    <div class="topics">
                        <div class="cont">
                            <div class="topic-nobg">
                                <h2 href="#" title="" class="title">
                                    <span>modi temporat ut labore et dolore magn</span>
                                </h2>
                                <p class="des">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi</p>
                                <a href="#" class="btn-more">Read more ...</a>
                                <a href="#" class="btn-del"><i class="ismall ismall-del-white"></i></a>
                            </div>
                        </div>
                        <div class="buttons">
                            <ul>
                                <li><a href="#" class="big-button"><i class="imed imed-flag"></i><span class="text">Follow</span></a></li>
                                <li><a href="#" class="big-button"><i class="imed imed-pencil"></i><span class="text">Write Ideas</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- topic without image background -->
                <div class="topic-preview">
                    <div class="topics">
                        <div class="cont">
                            <div class="topic-bg">
                                <a href="#" title=""><img src="../assets/demo/img-topic-001.jpg" alt="" border=""></a>
                                <a href="#" title="" class="title">
                                    <span>modi temporat ut labore et dolore magn</span>
                                </a>
                                <a href="#" class="btn-del"><i class="ismall ismall-del-white"></i></a>
                            </div>
                        </div>
                        <div class="buttons">
                            <ul>
                                <li><a href="#" class="big-button"><i class="imed imed-flag"></i><span class="text">Follow</span></a></li>
                                <li><a href="#" class="big-button"><i class="imed imed-pencil"></i><span class="text">Write Ideas</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- topic with image background -->
                <div class="topic-preview">
                    <div class="topics">
                        <div class="cont">
                            <div class="topic-nobg">
                                <h2 href="#" title="" class="title">
                                    <span>modi temporat ut labore et dolore magn</span>
                                </h2>
                                <p class="des">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi</p>
                                <a href="#" class="btn-more">Read more ...</a>
                                <a href="#" class="btn-del"><i class="ismall ismall-del-white"></i></a>
                            </div>
                        </div>
                        <div class="buttons">
                            <ul>
                                <li><a href="#" class="big-button"><i class="imed imed-flag"></i><span class="text">Follow</span></a></li>
                                <li><a href="#" class="big-button"><i class="imed imed-pencil"></i><span class="text">Write Ideas</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- topic without image background -->
                <div class="topic-preview">
                    <div class="topics">
                        <div class="cont">
                            <div class="topic-nobg">
                                <h2 href="#" title="" class="title">
                                    <span>modi temporat ut labore et dolore magn</span>
                                </h2>
                                <p class="des">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi</p>
                                <a href="#" class="btn-more">Read more ...</a>
                                <a href="#" class="btn-del"><i class="ismall ismall-del-white"></i></a>
                            </div>
                        </div>
                        <div class="buttons">
                            <ul>
                                <li><a href="#" class="big-button"><i class="imed imed-flag"></i><span class="text">Follow</span></a></li>
                                <li><a href="#" class="big-button"><i class="imed imed-pencil"></i><span class="text">Write Ideas</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- topic without image background -->
            </div>
            <!-- topic preview list  -->
        </div>
        <!-- col fullwidth -->
    </div>
    <!-- main content -->
{% endblock %}

{% block inline_scripts %}
    <script type="text/javascript">
        var app = {
            deps: ['Application/Welcome']
        }
    </script>
{% endblock %}
