/app/config/parameters.yml
/app/bootstrap.php.cache
/app/SymfonyRequirements.php
/web/assets/js/apps/main/build.js
/web/assets/js/built.js
/vendor
/public
/app/logs
/app/cache
/web/bundles
/.idea
composer.lock