{% extends 'MYSiteBundle::base.html.twig' %}
{% block body %}
    <div id="fb-root"></div>
    {% if error %}
        <div>{{ error.message }}</div>
    {% endif %}
    <div id="login"></div>
    <form action="{{ path('_security_check') }}" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" />

        <label for="password">Password:</label>
        <input type="password" id="password" name="_password" />

        <input type="submit" name="login" value="Login" />
        <input type="button" value="Login with Facebook" class="fblogin" />
    </form>
{% endblock %}

{% block inline_scripts %}
    <script type="text/javascript">
        var app = {
            deps: ['Application/Welcome'],
            init: function(Welcome) {
                var welcome = new Welcome();
                welcome.initialize();
            }
        }
    </script>
{% endblock %}