parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt
    facebook_app_id: 677153332301592
    facebook_secret: aac11a6cfe5f57cf08fa0d938d029310
    facebook_permissions: [email]
    assets_version: 123456
    assets_base_urls:
        http: ['/public/']