<div class="ulti clearfix">
    <div class="post">
        <div class="post-title">
            <input type="text" placeholder="Your Title Here" id="post_title">
        </div>
        <div class="post-text">
            <div id="tabs-1" class="post-tab post-tags active" data-toggle="pill">
                <div class="post-tab-wrap">
                    <div class="body-editor apella-editor" contenteditable="true" id="post_content" data-provide="contenteditable" style="min-height: 90px"></div>
                </div>
                <div class="post-alt">
                    <div class="tags">
                        <label>Tags</label>
                        <input type="hidden" id="post_tags" style="width: 570px;" value=""/>
                    </div>
                </div>
               
            </div>
            <!-- post tags -->
            <div id="tabs-2" class="post-tab post-photo" data-toggle="pill">
                <div class="post-tab-wrap">
                    <div class="buttons">
                        <button href="javascript:void(0);" class="big-button big-gray">Choose from Computer</button>
                        <button href="javascript:void(0);" class="big-button big-gray">Cancel</button>
                    </div>
                    <p>You can select more than one file at a time. You can also drag and drop files anywhere on this page to start uploading</p>
                </div>
                <div class="post-alt">	
                </div>
            </div>
            <!-- post photos -->
            <div id="tabs-3" class="post-tab" data-toggle="pill">
                <div class="post-tab-wrap">
                </div>
            </div>
            <!-- -->
        </div>
        <div class="post-foot">
            <ul id="tabs">
                <li>
                    <a href="#tabs-1" title="" data-toggle="tab">
                        <i class="imed imed-tag"></i>
                        <span class="left"></span>
                        <span class="right"></span>
                    </a>
                </li>
                <li>
                    <a href="#tabs-2" title="" data-toggle="tab">
                        <i class="imed imed-photo"></i>
                        <span class="left"></span>
                        <span class="right"></span>
                    </a>
                </li>
            </ul>
            <div class="buttons">
                <button class="big-button btn-post" data-event="newIdea.content">Post</button>
            </div>
        </div>
    </div>
    <!-- post -->
    <div class="tags-list">
        <div class="title">
            <h2>I wanna write about</h2>
            <a href="javascript:void(0);" title="" class="btn-more">View all</a>
        </div>
        <div class="list">
            <ul class="tags-tags mCustomScrollbar _mCS_1"><div class="mCustomScrollBox mCS-light" id="mCSB_1" style="position:relative; height:100%; overflow:hidden; max-width:100%;"><div class="mCSB_container" style="position: relative; top: 0px;">
                        <li><a href="javascript:void(0);" title=""><i></i><span class="text">Incidunt</span></a></li>
                        <li><a href="javascript:void(0);" title=""><i></i><span class="text">Commodi</span></a></li>
                        <li><a href="javascript:void(0);" title=""><i></i><span class="text">Quaerat</span></a></li>
                        <li><a href="javascript:void(0);" title=""><i></i><span class="text">Labore</span></a></li>
                        <li><a href="javascript:void(0);" title=""><i></i><span class="text">Aperiam</span></a></li>
                        <li><a href="javascript:void(0);" title=""><i></i><span class="text">Incidunt</span></a></li>
                        <li><a href="javascript:void(0);" title=""><i></i><span class="text">Commodi  quaerat  aperiam</span></a></li>
                        <li><a href="javascript:void(0);" title=""><i></i><span class="text">Labore</span></a></li>
                        <li><a href="javascript:void(0);" title=""><i></i><span class="text">Aperiam minus id quod maxi</span></a></li>
                        <li><a href="javascript:void(0);" title=""><i></i><span class="text">Placeat facere possimus</span></a></li>
                        <li><a href="javascript:void(0);" title=""><i></i><span class="text">Incidunt</span></a></li>
                        <li><a href="javascript:void(0);" title=""><i></i><span class="text">Commodi</span></a></li>
                        <li><a href="javascript:void(0);" title=""><i></i><span class="text">Quaerat</span></a></li>
                        <li><a href="javascript:void(0);" title=""><i></i><span class="text">Labore</span></a></li>
                        <li><a href="javascript:void(0);" title=""><i></i><span class="text">Aperiam</span></a></li>
                        <li><a href="javascript:void(0);" title=""><i></i><span class="text">Incidunt</span></a></li>

                    </div><div class="mCSB_scrollTools" style="position: absolute; display: block;"><div class="mCSB_draggerContainer"><div class="mCSB_dragger" style="position: absolute; height: 121px; top: 0px;" oncontextmenu="return false;"><div class="mCSB_dragger_bar" style="position: relative; line-height: 121px;"></div></div><div class="mCSB_draggerRail"></div></div></div></div></ul>
        </div>
    </div>
    <!-- tags list -->
</div>
<input type="hidden" name="post_topics" id="post_topics" value="" />